.App{
    margin: 8rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(15rem,1fr));
    justify-items: stretch;
    padding: 1rem;
    place-items: center;
    overflow: auto;
}
h1{
    text-align: center;
    font-family: 'Shizuru', cursive;
}
.overall{
    border:transparent;
    border-radius: 20px;
    max-width: 70rem;
    width:70%;
    display: grid;
    background-color: white;
}
body{
    background: url("https://wallpaperaccess.com/full/1489353.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.tasks-status-container{
    padding: 20px ;
}
.addTask{
    display: grid;
    width: 50%;
}
.head{
    display: grid;
    align-content: center;
    padding-left: 20px;
}
.task-status{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(6rem,1fr));
    align-content: center;
    overflow: auto;
}